.flagged-bought-together {
  border-radius: 5px !important;
  padding: 8px 23px 8px !important;
  background-color: #ffdbdf !important;
  font-weight: bold !important;
  color: red !important;
  /* box-shadow: inset 0px 0px 5px 2px rgb(255, 0, 0); */
  opacity: 0.90 !important;
}

.flagged-bought-together-label {
  border-radius: 5px !important;
  padding: 8px !important;
  width: 100% !important;
  background-color: #ffdbdf !important;
  font-weight: bold !important;
  color: red !important;
}