.popup-body {
  width: 220px;
}

/* margin: 0 breaks Firefox compatibility by left-aligning the entire Skroutz website! */
.content {
  margin: auto;
}

.content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid grey;
}

.content-flex:first-child {
  padding-top: 0;
}

.content-flex:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

dd.right-span.circle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 2px;
  background: #fff;
  border: 3px solid #000;
}

dt.left-span,
dd.right-span {
  text-align: center;
  font: 12px Arial, sans-serif;
}

dd.right-span {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
