.flagged-product {
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px 2px rgb(255, 0, 0);
  opacity: 0.90;
}

.flagged-product-image {
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px 2px rgb(255, 0, 0);
  opacity: 0.90;
}

.flagged-product-label {
  /* border: 1px solid rgb(255, 0, 0); */
  border-radius: 5px;
  padding: 2px 6px 2px;
  width: 100%;
  background-color: #ffdbdf;
  font-weight: bold !important;
  color: red !important;
}

.flagged-product-store {
  border-radius: 5px;
  padding: 1px 4px;
  font-weight: bold !important;
  color: red !important;
}

.flagged-list-title {
  margin-left: 80px;
  padding: 8px;
  font-weight: bold !important;
  color: red !important;
}