.sponsored-skus-shelf {
  border-radius: 5px !important;
  padding: 8px 23px 8px !important;
  background-color: #ffffff !important;
  font-weight: bold !important;
  color: red !important;
  box-shadow: 0px 0px 5px 2px rgb(255, 0, 0) !important;
}