.display-none {
  display: none !important;
}

.inline-flex {
  display: flex !important;
  gap: 16px !important;
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.font-bold {
  font-weight: 600 !important;
}

.main-content {
  margin-right: 4px !important;
}