.popup-body {
  width: 225px !important;
}

.content {
  margin: 0 !important;
}

.content-flex {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 5px 0 !important;
  border-bottom: 1px solid grey !important;
}

.content-flex:first-child {
  padding-top: 0 !important;
}

.content-flex:last-child {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

dd.right-span.circle {
  border-radius: 50% !important;
  width: 14px !important;
  height: 14px !important;
  padding: 2px !important;
  background: #fff !important;
  border: 3px solid #000 !important;
}

dt.left-span,
dd.right-span {
  text-align: center !important;
  font: 12px Arial, sans-serif !important;
}

dd.right-span {
  color: #ff0000 !important;
  font-weight: bold !important;
}