.popup-body {
  width: 180px;
}

.content {
  margin: 0;
}

.content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid grey;
}

.content-flex:first-child {
  padding-top: 0;
}

.content-flex:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.right-span.circle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 2px;
  background: #fff;
  border: 3px solid #000;
  text-align: center;
  color: rgb(255, 0, 0);
  font: bold 12px Arial, sans-serif;
}

.left-span > p,
.right-span > p {
  margin: 0 auto;
}
