.popup-body {
  width: 200px;
}

.content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-span.circle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 2px;
  background: #fff;
  border: 3px solid #000;
  text-align: center;
  color: rgb(255, 0, 0);
}

.left-span > p,
.right-span > p {
  font: 12px Arial, sans-serif;
  font-weight: bold;
  margin: 0 auto;
}
