.flagged-promo-product {
  border: 1px solid rgb(255, 81, 0);
  box-shadow: 0px 0px 5px 0px rgb(255, 81, 0);
  opacity: 0.75;
}

.flagged-sponsored-product {
  border: 1px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 5px 0px rgb(255, 0, 0);
  opacity: 0.75;
}

.display-none-sponsored-product {
  display: none !important;
}

.flagged-promoted-product-label {
  font-weight: bold !important;
  color: red !important;
}

.flagged-sponsored-product-label {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  padding: 1px 4px;
  background-color: #ffdbdf;
  font-weight: bold !important;
  color: red !important;
}

.sponsored-indicator {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  margin: 8px 8px 16px 8px;
  padding: 11px 23px;
  padding-right: 23px;
  padding-left: 23px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.sponsored-indicator:hover {
  background-color: #FFCDD2;
}

.sponsored-indicator-background-hidden {
  background-color: #FFCDD2;
}

.sponsored-indicator-background-visible {
  background: transparent;
}