.flagger-toggle-list {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 8px 0px 16px 8px !important;
  padding: 11px 8px !important;
  border: 1px solid #bbbbbb !important;
  border-radius: 40px !important;
  color: #707070 !important;
  white-space: nowrap !important;
}

.flagger-toggle-product {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 8px 0px 16px 8px !important;
  padding: 11px 8px !important;
  border: 1px solid #bbbbbb !important;
  border-radius: 5px !important;
  color: #707070 !important;
  white-space: nowrap !important;
}

.flagger-toggle-list svg,
.flagger-toggle-product svg {
  vertical-align: middle !important;
  flex-shrink: 0 !important;
  margin-right: 6px !important;
}

.flagger-toggle-list:hover,
.flagger-toggle-product:hover,
.flagger-toggle-list.flagger-toggle-list-active,
.flagger-toggle-header.flagger-toggle-header-active,
.flagger-toggle-product.flagger-toggle-product-active {
  border: 1px solid #ff7482 !important;
  background-color: #ff0000 !important;
  color: #e9e9e9 !important;
}
