.labeled-item,
.labeled-product,
.selected-product-cards,
.flagged-bought-together {
  padding: 10px;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px 2px #ff0000 !important;
}

.flagged-product-image {
  border-radius: 5px !important;
  box-shadow: inset 0px 0px 5px 2px #ff0000 !important;
}

.flagged-product-store {
  border-radius: 5px !important;
  padding: 1px 4px !important;
  color: red !important;
  font-weight: bold !important;
}