.display-none {
  display: none !important;
}

.inline-flex {
  display: flex !important;
  gap: 16px !important;
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.font-bold {
  font-weight: 600 !important;
}

.main-content {
  margin-right: 4px !important;
}

.warning-label,
.flagged-list-title,
.label-text {
  border-radius: 5px !important;
  padding: 2px 6px 2px !important;
  background-color: #ffdbdf !important;
  font-weight: bold !important;
  color: red !important;
}

.info-label {
  border-radius: 5px !important;
  padding: 8px !important;
  /* width: 100% !important; */
  background-color: #fff5db !important;
  font-weight: bold !important;
  color: #f68b24 !important;
}

.warning-label svg,
.info-label svg {
  vertical-align: middle !important;
}