.flagged-video {
  opacity: 0.85 !important;
  padding: 16px !important;
  border: 2px solid rgba(255, 89, 89, 0.678) !important;
  box-shadow: 0 0 0 2px rgba(255, 89, 89, 0.678) !important;
  border-radius: 12px;
}
