.flagged-video {
  opacity: 0.85 !important;
  padding: 16px !important;
  border: 2px solid rgba(255, 89, 89, 0.678) !important;
  border-radius: 12px;
}

.promo-video-card {
  position: relative !important;
}

.promo-video-card::after {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none !important;
  z-index: 1 !important;
}

.display-none-promo-product {
  display: none !important;
}
